* {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.root {
    -fx-background-color: #282828;
}

/* --- Playlist TableView ---*/
#playlistView {
    -fx-font-family: "Menlo";
}

.table-view .column-header {
    -fx-background-color: #303030;
}

.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size: 17;
}

.table-row-cell:filled:selected .table-cell {
    -fx-background-color: #202020;
    -fx-font-weight: bold;
}

.table-view .cell:filled {
    -fx-alignment: center-left;
    -fx-cell-size: 40;
    -fx-font-size: 16;
}

/* --- Control BorderPane ---*/
#controlView {
    -fx-font-family: monospace;
    -fx-pref-height: 55;
    -fx-background-color: #303030;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.button:pressed {
    -fx-background-color: #EB8911;
}

.label {
    -fx-text-fill: white;
}

/* --- Buttons HBox ---*/
#previousButton {

}

#controlButton {
    -fx-font-weight: bold;
}

#nextButton {

}

#stopButton {

}

/* --- Track Border ---*/
#trackBorder {

}

#currentTimeLabel {

}

.slider .track {
    -fx-opacity: 0.1;
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: #EB8911;
}

#trackSlider {

}

#durationTimeLabel {

}

/* --- Volume Border ---*/
#volumeBorder {

}

#minVolumeImageView {

}

#volumeSlider {
    -fx-pref-width: 90;
}

#maxVolumeImageView {

}
